main{
    display: grid;
    grid-template-columns: 1fr;
  }
  table{
    margin-right: auto;
    margin-left: 35%;
    min-height: 250px;
    width: 35%;
  }
  label{
      width: 40px;
      height: 40px;
      padding: 10px;
  }
  table td:first-child{
      width: 40px;
      height: 30px;      
  }