body {
  margin: 0 auto;
  border: 1px;
  padding: 0 5px;
  min-width: 1024px;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas:
    "header-cell"
    "nav-cell"
    "main-cell"
    "footer-cel";
}

header {
  grid-area: header-cell;
  border-radius: 5px;
  border: 1px solid #ccc7c8;
  padding: 0 5px;
  height: 100px;
  margin-bottom: 2px;
  background-image: url("./assets/images/header.png");
}

#header-img1 {
  height: 100px;
  position: absolute;
  top: -30px;
  animation: img1 3s;
  animation-fill-mode: forwards;
}
@keyframes img1 {
  from {
    left: 80%;
  }
  to {
    left: 30%;
  }
}
#header-img2 {
  height: 70px;
  top: -5px;
  position: absolute;
  animation: img2 3s;
  animation-fill-mode: forwards;
}

@keyframes img2 {
  from {
    left: 80%;
  }
  to {
    left: 45%;
  }
}
#header-img3 {
  height: 80px;
  top: 0;
  position: absolute;
  animation: img3 3s;
  animation-fill-mode: forwards;
}
@keyframes img3 {
  from {
    left: 80%;
  }
  to {
    left: 63%;
  }
}
nav {
  grid-area: nav-cell;
  margin-top: 20px;
}
nav a {
  float: left;
  margin: 3px;
  border: 1px solid #fff;
  padding: 2px 4px;
  height: 20px;
  color: #ed4190;
  background-color: #ffffff80;
  font-size: 17px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;
}
nav a:hover {
  color: #fff;
  background-color: #ed4190;
}
.search-container {
  float: right;
  padding-top: 3px;
}

.icon-white,
.icon-pink {
  padding: 4px;
  color: #fff;
  background-color: #cddc39;
  min-width: 30px;
  text-align: center;
  cursor: pointer;
}
.icon-pink {
  color: #ed4190;
  margin-left: 5px;
}

main {
  grid-area: main-cell;
  display: grid;
  border: 1px solid #ccc7c8;
  border-radius: 5px;
  padding: 0 5px;
  background-color: #fff;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300px;
  line-height: 34px;
  margin: 12px 0 16px;
  color: #f90b6d;
  font-size: 28px;
  text-align: center;
}
h1:after {
  content: "";
  display: block;
  position: relative;
  transform: rotateX(-12deg);
  transform: translateX(-50%);
  background: radial-gradient(#cddc39, #fff);
  margin: 12px 0 16px;
  height: 3px;
  width: 200px;
  left: 50%;
  top: -10px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300px;
  line-height: 28px;
  margin: 5px 0 10px;
  color: #f90b6d;
  font-size: 24px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300px;
  line-height: 24px;
  margin: 5px 0 10px;
  color: #f90b6d;
  font-size: 20px;
}

/* aside {
  margin: 2px;
  padding: 5px;
} */
aside {
  margin: 2px;
  padding: 5px;
  text-align: justify;
  color: #000;
}


h3 {
  break-before: column;
}



.order {
  display: flex;
  margin: 5px;
}

.order > div {
  margin: 0px 2px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ed4190;
  text-align: center;
  padding-top: 10px;
}

footer {
  grid-area: footer-cel;
  margin-top: 2px;
  border-radius: 5px;
  border: 1px solid #ccc7c8;
  padding: 0 5px;
  color: #000;
  text-align: center;
}

.loai1{
  display: flex;
  justify-content: center;
}
.media{
  width: 50%;
  margin-right: 10px;
}

.loai2{
  display: flex;
  flex-direction: row-reverse;
}

.nguyenlieubuoc{
  display: flex;
  justify-content: space-between;
}
.nguyenlieu, .buoc{
  width: 45%;
}


footer a {
  text-decoration: none;
}

footer .fb,
.twitter,
.pinterest {
  color: #ed4190;
  text-decoration: none;
}

footer .return {
  position: fixed;
  padding: 10px;
  color: #ed4190;
  -z-index: 100;
  height: 50px;
  width: 50px;
  right: 10px;
  bottom: 5px;
}

/* trang sanpham */
main > section {
  grid-area: main-cell;
  position: fixed;
  display: flex;
  color: #ed4190;
  text-align: center;
}

main > section > div {
  grid-area: main-cell;
  display: flex;
  margin: 3px;
  border: 1px solid #dbd7d9;
  min-width: flex;
  color: #ed4190;
  text-align: center;
}

/* trang lienhe */

/* trang dangky */

.signup-form, .signin-form{
  display: block;
  width: 50%;
  margin: 0 auto;
}

/* trang sanpham */

section{
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}
.dathang{
  border-radius: 5px;
  font-weight: 700;
  height: 40px;
  padding: 5px;
  background: linear-gradient(#fff,#cddc39);
}
